@model IEnumerable<Online_shop.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Admin panel</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathToPicture)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathToPicture)
            </td>
        <td>
            @Html.ActionLink("Edit", "EditCategory", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id })
        </td>
        </tr>
    }

</table>
